@page "{id}"
@model AccountModel
@{
    ViewData["Tile"] = "Account";
}
<h1>@Model.accountHeader.AccountName</h1>
<div class="text-center">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Transaction Id</th>
                <th>Transaction Date</th>
                <th>Transaction Detail</th>
                <th>Due Date</th>
                <th>Invoice Number</th>
                <th>Reference Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.accountInfos)
            {
                <tr>
                @{
                    var d = new Dictionary<string, string>
                    {
                        { "arCode", $"{Model.accountHeader.ArCode}" },
                        { "transactionId", $"{account.TransactionId}" }

                    };
                }
                    <td><a asp-page="/Transaction" asp-all-route-data="d">@account.TransactionId</a> </td>
                    <td>@account.TranDate</td>
                    <td>@account.TranDetail</td>
                    <td>@account.DueDate</td>
                    <td>@account.InvoiceNumber</td>
                    <td>@account.ReferenceNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>
