@page "{id}"
@model AccountModel
@{
    ViewData["Tile"] = "Account";
}
<h1>@Model.accountHeader.AccountName</h1>
<a asp-page="EditAccountHeader" asp-route-arCode="@Model.accountHeader.ArCode">Edit</a>
<div class="text-center ">
    <table class="table table-bordered table-striped" id="dataTable">
        <thead>
            <tr>
                <th>Transaction Id</th>
                <th>Transaction Date</th>
                <th>Transaction Detail</th>
                <th>Due Date</th>
                <th>Invoice Number</th>
                <th>Reference Number</th>
                <th>Transaction Balance</th>
                <th>Last Comment</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.accountInfos)
            {
                <tr>
                    @{
                        var d = new Dictionary<string, string>
                                    {
                            { "arCode", $"{Model.accountHeader.ArCode}" },
                            { "transactionId", $"{account.TransactionId}" }

                        };
                    }
                    <td><a asp-page="/Transaction" asp-all-route-data="d">@account.TransactionId</a> </td>
                    <td>@account.TranDate.ToShortDateString()</td>
                    <td>@account.TranDetail</td>
                    <td>@account.DueDate.ToShortDateString()</td>
                    <td>@account.InvoiceNumber</td>
                    <td>@account.ReferenceNumber</td>
                    <td>@string.Format("{0:0.00}", account.TranBalance)</td>
                    @if (string.IsNullOrEmpty(account.LastCommnet))
                    {
                        <td>
                            <form method="post" class="form-inline">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="@Model.comment.ArCode" value="@Model.accountHeader.ArCode" hidden class="form-control" />
                                    <input asp-for="@Model.comment.ArCode" value="@Model.accountHeader.ArCode" hidden class="form-control " />
                                    <span asp-validation-for="@Model.comment.ArCode" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.comment.TransactionId" value="@account.TransactionId" hidden class="form-control" />
                                    <input asp-for="@Model.comment.TransactionId" value="@account.TransactionId" hidden class="form-control" />
                                    <span asp-validation-for="@Model.comment.TransactionId" class="text-danger"></span>

                                </div>
                                <div class="form-group mt-0" >
                                    <input  asp-for="@Model.comment.CommentText" class="form-control mt-0 mb-1" required>
                                    <span asp-validation-for="@Model.comment.CommentText" class="text-danger"></span>
                                </div>
                                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                            </form>
                        </td>
                    }
                    else
                    { 
                        <td>
                            <span class="lastComment"> @account.LastCommnet</span> 
                            <form method="post" class="form-inline commentForm" style="display:none">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="@Model.comment.ArCode" value="@Model.accountHeader.ArCode" hidden class="form-control" />
                                    <input asp-for="@Model.comment.ArCode" value="@Model.accountHeader.ArCode" hidden class="form-control" />
                                    <span asp-validation-for="@Model.comment.ArCode" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.comment.TransactionId" value="@account.TransactionId" hidden class="form-control" />
                                    <input asp-for="@Model.comment.TransactionId" value="@account.TransactionId" hidden class="form-control" />
                                    <span asp-validation-for="@Model.comment.TransactionId" class="text-danger"></span>

                                </div>
                                <div class="form-group" >
                                    <input asp-for="@Model.comment.CommentText" class="form-control mt-0 mb-1" required>
                                    <span asp-validation-for="@Model.comment.CommentText" class="text-danger"></span>
                                </div>
                                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                            </form>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary addCommentButton"   >Comment</button>
                            <button class="btn btn-sm btn-primary seeLastCommentButton"  style="display:none">See Last</button>
                        </td>

                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<a href="javascript: history.go(-1)">Go Back</a>
<script src="~/js/account.js"></script>
    
    


