@page "{arCode}/{transactionId}"
@model TransactionModel
@{
    ViewData["Title"] = "Transaction";
    DateTime date = DateTime.Now;
}
<div id="transactionBody">

    <div class="card" id="invInfo">
        <div class="card-header">
            <a asp-page="EditAccountHeader" asp-route-arCode="@Model.accountHeader.ArCode">Edit</a> 
            <h2>@Model.accountHeader.AccountName</h2>
            <h3>ArCode: @Model.accountHeader.ArCode</h3>
            <h3>Phone Number: @Model.accountHeader.AccountPhoneNumber</h3>
        </div>
    </div>
    <div class="card" id="invBalance">
        <div class="card-body">
            <h4>Invoice Number:  @Model.invoiceBalance.InvoiceNumber</h4>
            <h4>Balance: @string.Format("{0:0.00}", Model.invoiceBalance.Balance)</h4>
            <h4>Current: @string.Format("{0:0.00}", @Model.invoiceBalance.Current)</h4>
            <h4>Over 30: @string.Format("{0:0.00}", @Model.invoiceBalance.Over30)</h4>
            <h4>Over 60: @string.Format("{0:0.00}", @Model.invoiceBalance.Over60)</h4>
            <h4>Over 90: @string.Format("{0:0.00}", @Model.invoiceBalance.Over90)</h4>
        </div>
    </div>
    <div class="" id="commentSection" style="margin-left:10%">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.comment.ArCode" value="@Model.invoiceBalance.ArCode" hidden class="form-control" />
                <input asp-for="@Model.comment.ArCode" value="@Model.invoiceBalance.ArCode" hidden class="form-control" />
                <span asp-validation-for="@Model.comment.ArCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.comment.TransactionId" value="@Model.invoiceBalance.TransactionId" hidden class="form-control" />
                <input asp-for="@Model.comment.TransactionId" value="@Model.invoiceBalance.TransactionId" hidden class="form-control" />
                <span asp-validation-for="@Model.comment.TransactionId" class="text-danger"></span>

            </div>
            <div class="form-group" id="inputComment">
                <textarea asp-for="@Model.comment.CommentText" class="form-control " style="min-width: 80%;" rows:"3" required> </textarea>
                <span asp-validation-for="@Model.comment.CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </form>
        <hr />
        <div class="list-group" id="submittedComments">
            @if (Model.comments.Count > 0)
            {
                @foreach (var comment in Model.comments)
                {
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">@comment.CommentText</p>
                            <small>@comment.CommentTime.ToShortDateString() @comment.CommentTime.ToShortTimeString()</small>
                        </div>
                    </a>
                }

            }


        </div>
    </div>
</div>
<a href="javascript: history.go(-1)">Go Back</a>



